'fileTypes' : [
  'xwiki'
  'wiki'
]
'name' : 'XWiki'
'patterns' : [
  {
    'include' : '#main'
  }
]
'scopeName' : 'source.XWiki'
'uuid' : ''
'repository' : {
  'main' : {
    'patterns' : [
      {
        'include' : '#markup_formatting'
      }
      {
        'include' : '#macros'
      }
    ]
  }
  'inner_link' : {
    'patterns' : [
      {
        'match' : '([^\\x{003e}]*)(?=]])'
        'name' : 'entity.name.class.XWiki'
      }
      {
        'match' : '((\\>\\>))'
        'name' : 'keyword.operator.XWiki'
      }
      {
        'match' : '(((.*?)(?=\\>\\>)))'
        'name' : 'entity.name.function.XWiki'
      }
    ]
  }
  'macros' : {
    'patterns' : [
      {
        'begin' : '(\\{\\{(comment)\\}\\})'
        'beginCaptures' : {
          '1' : {
            'name' : 'comment.XWiki'
          }
        }
        'patterns' : [
          {
            'include' : '#macros__1'
          }
        ]
        'end' : '(\\{\\{(\\/comment)\\}\\})'
        'endCaptures' : {
          '1' : {
            'name' : 'comment.XWiki'
          }
        }
      }
      {
        'begin' : '(\\{\\{(warning)\\}\\})'
        'beginCaptures' : {
          '1' : {
            'name' : 'markup.quote.XWiki'
          }
        }
        'patterns' : [
          {
            'include' : '#macros__2'
          }
        ]
        'end' : '(\\{\\{(\\/warning)\\}\\})'
        'endCaptures' : {
          '1' : {
            'name' : 'markup.quote.XWiki'
          }
        }
      }
      {
        'begin' : '(\\{\\{.*\\}\\})'
        'beginCaptures' : {
          '1' : {
            'name' : 'entity.name.section.XWiki'
          }
        }
        'patterns' : [
          {
            'include' : '#macros__3'
          }
        ]
        'end' : '(\\{\\{(\\/.*)\\}\\})'
        'endCaptures' : {
          '1' : {
            'name' : 'entity.name.section.XWiki'
          }
        }
      }
    ]
  }
  'macros__1' : {
    'patterns' : [
      {
        'include' : '#markup_formatting'
      }
    ]
  }
  'macros__2' : {
    'patterns' : [
      {
        'include' : '#markup_formatting'
      }
    ]
  }
  'macros__3' : {
    'patterns' : [
      {
        'include' : '#markup_formatting'
      }
    ]
  }
  'markup_formatting' : {
    'patterns' : [
      {
        'match' : '((={6})(.*)(={6}))'
        'name' : 'markup.heading.heading-6.XWiki'
      }
      {
        'match' : '((={5})(.*)(={5}))'
        'name' : 'markup.heading.heading-5.XWiki'
      }
      {
        'match' : '((={4})(.*)(={4}))'
        'name' : 'markup.heading.heading-4.XWiki'
      }
      {
        'match' : '((={3})(.*)(={3}))'
        'name' : 'markup.heading.heading-3.XWiki'
      }
      {
        'match' : '((={2})(.*)(={2}))'
        'name' : 'markup.heading.heading-2.XWiki'
      }
      {
        'match' : '((={1})(.*)(={1}))'
        'name' : 'markup.heading.heading-1.XWiki'
      }
      {
        'begin' : '(\\*\\*)'
        'beginCaptures' : {
          '1' : {
            'name' : 'markup.bold.XWiki'
          }
        }
        'contentName' : 'markup.bold.XWiki'
        'end' : '(\\*\\*)'
        'endCaptures' : {
          '1' : {
            'name' : 'markup.bold.XWiki'
          }
        }
      }
      {
        'begin' : '(\\/\\/)'
        'beginCaptures' : {
          '1' : {
            'name' : 'markup.italic.XWiki'
          }
        }
        'contentName' : 'markup.italic.XWiki'
        'end' : '(\\/\\/)'
        'endCaptures' : {
          '1' : {
            'name' : 'markup.italic.XWiki'
          }
        }
      }
      {
        'begin' : '(\\[\\[)'
        'beginCaptures' : {
          '1' : {
            'name' : 'link, punctuation.bracket.square.XWiki'
          }
        }
        'patterns' : [
          {
            'include' : '#inner_link'
          }
        ]
        'end' : '(]])'
        'endCaptures' : {
          '1' : {
            'name' : 'link, punctuation.bracket.square.XWiki'
          }
        }
      }
    ]
  }
  'markup_formatting__1' : {
    'patterns' : [
    ]
  }
  'markup_formatting__2' : {
    'patterns' : [
    ]
  }
}
